<% layout('layout') %>
<p class="main-title"><%= title %></p>
<% if (messageList.length) { %>
  <div class="white-bg">
    <ul class="main-list">
    <% messageList.forEach(function(messageItem) { %>
        <li class="main-list__item">
        <div class="message">
        <p class="message__title"><%= messageItem.message %></p>
        <p class="message__date"><%= messageItem.user_name %> <%= messageItem.created_at %></p>
        </div>
        </li>
        <% }); %>
    </ul>
    </div>
    <% } %>
    <form action="/boards/<%= board.board_id %>" method="post" class="board-form">
    <input type="text" name="message" class="input" required>
    <button type="submit" class="submit">投稿</button>
    </form>
    <% if (typeof user !== 'undefined') { %>
      <span class="login-user"><%= user.user_name %>さんとしてログインしています</span>
        <% } %>
        <a href="/" class="btn">トップへもどる</a>
